@import "tailwindcss";

@layer components {
    @keyframes marqueeScroll {
        0% {
            transform: translateX(0%);
        }
        100% {
            transform: translateX(-50%);
        }
    }
}

@layer base {
    button {
        cursor: pointer;
    }
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}

:root {
    --color-primary: #111418; /* Black Pearl */
    --color-secondary: #D1D5DB; /* Silver grey */
    --color-bg: #FFFFFF; /* Pure white */
    --color-soft: #F3F4F6; /* Mist grey */
}

body {
    background-color: var(--color-bg);
    color: var(--color-primary);
}

.bg-app {
    background-color: var(--color-bg);
}

.text-primary {
    color: var(--color-primary) !important;
}

.text-secondary {
    color: var(--color-secondary) !important;
}

.bg-soft {
    background-color: var(--color-soft) !important;
}
